Repository USA-ROLEPLAY/Ark_Servers, pull requests merged in 2025-08, with the labels that each got.

#60 Update joing-the-cluster.md
  docs/cluster-info/joing-the-cluster.md
Labels: bugfix, maintenance

#62 Update ssh approach in asa-daily-restarts.yml
  .github/workflows/asa-daily-restarts.yml
Labels: bugfix, github, refactor

#65 Update asa-daily-restarts.yml
  .github/workflows/asa-daily-restarts.yml
Labels: bugfix, github, refactor

#66 Update asa-daily-restarts.yml
  .github/workflows/asa-daily-restarts.yml
Labels: bugfix, github, refactor

#68 Update asa-container-updates.yml
  .github/workflows/asa-container-updates.yml
Labels: github, refactor

#70 Update docker-compose.yaml
  ASA/asa-server-1/extinction/docker-compose.yaml
Labels: updated, refactor

#72 Update GameUserSettings.ini
  ASA/asa-server-2/ragnarok/GameUserSettings.ini
Labels: updated, ini change

#74 Update GameUserSettings.ini
  ASA/asa-server-2/ragnarok/GameUserSettings.ini
Labels: updated, ini change

#76 Disable scheduled cron jobs in asa-daily-restarts.yml
  .github/workflows/asa-daily-restarts.yml
Labels: github, refactor

#80 Fix typo in server downtime notice
  README.md
Labels: bugfix, maintenance
